/* Hero Section */
.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
}

/* Blurred background with dark overlay and curved bottom */
.header::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);

    background-color: rgba(32, 30, 30, 0.6);
    background-blend-mode: overlay;

    /* Curved bottom */
    /* clip-path: ellipse(100% 20% at 50% 100%); */
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;  /* height of curve */
    background: linear-gradient(180deg, #213869 0%, #111 100%); /* next section background */
    border-top: 5px solid #e50914;
    border-top-left-radius: 50% 50px;
    border-top-right-radius: 50% 50px;
    z-index: 1;
    
}

/* Make content above the background */
.header > * {
    position: relative;
    z-index: 1;
}

/* Logo */
.logo {
    width: 150px;
}

/* Hero Content */
.hero-content h1 {
    margin-top: 20vh;
}

/* Next Section */
.next-section {
    background-color: #111; /* dark background for contrast */
}

/* Movie cards hover effect */
.next-section img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
